@font-face {
  font-family: 'RobotoCondensed';
  src: url('../../fonts/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stratounlinked';
  src: url('../../fonts/strato-unlinked-webfont.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GuitarRumble';
  src: url('../../fonts/GuitarRumble.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #ddd;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-title {
  font-family: 'GuitarRumble';
  font-size: 5em;
  margin: 0;
  color: #555;
  letter-spacing: -6px;
  text-shadow: 1px 1px #fff;
}

@media only screen and (max-width: 500px) {
  .App-title {
    font-size: 3.5em;
  }
}

.App {
  font-family: 'RobotoCondensed';
  padding-top: 150px;
  text-align: center;
}

.header {
  background-color: #aaa;
  border-bottom: 1px solid #6c757d;
  padding: 20px;
  position: fixed;
  top: 0;
  color: #ddd;
  width: calc(100% - 40px);
  z-index: 2;
}
